# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# npm files
npm-debug.log
node_modules

# IDE configuration files
.idea

# Tmp folders
tmp/**

# Subversion folders
.svn

# Configuration files
**/conf.js

